html {
    background-color: rgb(49, 162, 182);
}

div {
    padding-top: 20px;
    background-color: rgb(49, 162, 182);
}

div input{
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  text-decoration: underline;
    text-align: center;
}

input{
    text-align: center; 
    background-color: cadetblue; 
    color: cornsilk;
    transition: width 0.4s ease-in-out;
}

input:focus {
    background-color: crimson;
    width: 100%; 
}

::placeholder {
    color: cornsilk;
}

p {
    color: rgb(102, 88, 40); 
    font-size: xx-large; 
    text-align: center;
}

#name {
    color: rgb(11, 245, 23);
}

